<mat-nav-list>
  <div class="d-flex align-items-center px-4 btn">
    <mat-icon>home</mat-icon>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      Dashboard
    </a>
  </div>
  <div class="d-flex align-items-center px-4 btn">
    <mat-icon>people</mat-icon>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      People
    </a>
  </div>
  <div class="d-flex align-items-center px-4 btn">
    <mat-icon>report</mat-icon>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      Reports
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex align-items-center px-4 btn">
    <mat-icon>person_outline</mat-icon>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      Admin
    </a>
  </div>
</mat-nav-list>
